/* Bordes del formulario */
form {
  border: 3px solid #f1f1f1;
}

/* Ancho de los campos de entrada */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilo para los botones */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Efecto para el hover del mouse */
button:hover {
  opacity: 0.8;
}

/* Estilo para el botón de cancelar */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Contenedor para imagen centrada */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Redimensión para el avatar */
img.avatar {
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

/* Padding para los contenedores */
.container {
  padding: 16px;
}

/* Texto de "olvidé mi contraseña" */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Estilos para el span y el botón de cancelar en pantallas pequeñas */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Estilos para los header */
.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}
